//Fonts
$headerFont: 'Nixie One', sans-serif;
$bodyFont: 'Work Sans', sans-serif;

//Colors
$orange: #d79600;
$blue: #51b5e4;
$transBlack: rgba(0,0,0,.78);
$white: #fff;

//Dimensions
$navThickness: 85px;
$appContainerPad: 20px;

//Animations
$animationOffset: 200px;
$transitionDuration: .5s;

//Media Queries
$breakBar: 768px;
