@import "_variables.scss";

.button-modal{
  box-shadow: 0 3px 14px rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  right: 10px;
  transition: all $transitionDuration $animationEasing;
  background-color: $orange;
  color: $white;
  border: 1px solid $white;
  padding: 10px 15px;
  border-radius: 21px;
  overflow: hidden;
  height: 0px;
  width: 0px;
  opacity: 0;
  visibility: hidden;
  &>*{
    display: none;
  }
  &.open{
    color: $orange;
    border: 1px solid $orange;
    background-color: $white;
    height: calc(100vh - #{4*$appContainerPad + $navThickness});
    width: 40vw;
    opacity: 1;
    visibility: visible;
    border-radius: 0;
    @media(max-width: $breakBar){
      width: calc(100vw - #{$appContainerPad*4});
    }
    &>*{
      display: inherit;
    }
  }
}
