@import "variables";

//Basics
h1, h2{
  font-family: $headerFont !important;
  margin-top: 0;
  margin-bottom: 0;
}

body{
  font-family: $bodyFont;
  margin: 0 !important;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 0;
  overflow: visible;
  width: 7px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  background-clip: padding-box;
  min-height: 28px;
  padding: 100px 0 0;
  border-radius: 7px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.app-content-container{
  position: relative;
  z-index: 1;
  margin-left: $navThickness;
  padding: $appContainerPad;
  & span>*{
    position: absolute;
    width: calc(calc(100vw - (2*#{$appContainerPad}) - #{$navThickness}));

    @media (max-width: $breakBar) {
      width: calc(100vw - (2*#{$appContainerPad}));
      margin-bottom: $navThickness  + 20px;
    }
  }

  @media (max-width: $breakBar) {
    margin-left: 0;
  }
}

a{
  text-decoration: none;
}

.view-header{
  margin-bottom: 60px;
  padding: 0 10px;
  &>h1:nth-child(1){
    float: left;
  }
  &>div:nth-child(1){
    float: left;
  }
  &>div:nth-child(2){
    float: right;
  }
}

.results-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.end-text{
  font-size: 12px;
  color: #888;
  text-align: center;
}

//Nav
.nav{
  position: fixed;
  z-index: 20;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $transBlack;
  width: $navThickness;
  height: 100vh;

  .nav-item-container{
    height: 40vh;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $breakBar) {
      flex-direction: row;
      height: calc(#{$navThickness} - 10px);
      width: 40vw;
      min-width: 270px;
      align-items: baseline;
    }
  }

  .nav-item{
    text-align: center;
    color: $white;
    fill: $white;
    transition: color .25s ease-out, fill .25s ease-out;
  }

  a.active .nav-item{
    color: $orange;
    fill: $orange;
  }

  @media (max-width: $breakBar) {
    top: calc(100vh - #{$navThickness});
    width: 100vw;
    height: $navThickness;
    flex-direction: row;
  }
}

//Transitions
.page-view-left-enter {
  opacity: 0;
  transition: all $transitionDuration $animationEasing;
  &.page-view-left-enter-active {
    opacity: 1;
    @media (min-width: $breakBar + 1px) {
      top: $appContainerPad;
    }
    @media (max-width: $breakBar) {
      left: $appContainerPad;
    }
  }
  @media (max-width: $breakBar) {
    left: calc( #{$animationOffset} + #{$appContainerPad});
  }
  @media (min-width: $breakBar + 1px) {
    top: calc( #{$animationOffset} + #{$appContainerPad});
  }
}

.page-view-left-leave {
  opacity: 1;
  @media (min-width: $breakBar + 1px) {
    top: $appContainerPad;
  }
  @media (max-width: $breakBar) {
    left: $appContainerPad;
  }
  transition: all $transitionDuration $animationEasing;
  &.page-view-left-leave-active {
    opacity: 0;
    @media (min-width: $breakBar + 1px) {
      top: calc( -#{$animationOffset} - #{$appContainerPad});
    }
    @media (max-width: $breakBar) {
      left: calc( -#{$animationOffset} - #{$appContainerPad});
    }
  }
}


.page-view-right-enter {
  opacity: 0;
  transition: all $transitionDuration $animationEasing;
  &.page-view-right-enter-active {
    opacity: 1;
    @media (min-width: $breakBar + 1px) {
      top: $appContainerPad;
    }
    @media (max-width: $breakBar) {
      left: $appContainerPad;
    }
  }
  @media (max-width: $breakBar) {
    left: calc( -#{$animationOffset} - #{$appContainerPad});
  }
  @media (min-width: $breakBar + 1px) {
    top: calc( -#{$animationOffset} - #{$appContainerPad});
  }
}

.page-view-right-leave {
  opacity: 1;
  @media (min-width: $breakBar + 1px) {
    top: $appContainerPad;
  }
  @media (max-width: $breakBar) {
    left: $appContainerPad;
  }
  transition: all $transitionDuration $animationEasing;
  &.page-view-right-leave-active {
    opacity: 0;
    @media (min-width: $breakBar + 1px) {
      top: calc( #{$animationOffset} + #{$appContainerPad});
    }
    @media (max-width: $breakBar) {
      left: calc( #{$animationOffset} + #{$appContainerPad});
    }
  }

}

.fade-enter{
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity $transitionDuration $animationEasing;
  &.fade-enter-active{
    opacity: 1;
  }
}

.fade-leave{
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity $transitionDuration $animationEasing;
  &.fade-leave-active{
    opacity: 0;
  }
}
