@import "_variables.scss";

.round-button{
  display: inline;
  background-color: $orange;
  color: $white;
  border: 1px solid $white;
  padding: 10px 15px;
  border-radius: 21px;
  cursor: pointer;
  margin-left: -100%;
  &:hover{
    background-color: $white;
    color: $orange;
    border: 1px solid $orange;
  }
}
.normal{
  margin-left: 0;
}
