@import "variables";

.searchpreview-square-box {
    border:5px solid $blue;
    background-color: $white;
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    margin: 5px;
    flex-grow: 1;
    &.taken{
      border:5px solid $orange;
    }
    &.taken:after{
      position: relative;
      display: block;
      text-align: center;
      top: 21px;
      border-radius: 20px;
      padding: 5px;
      margin: 0 auto;
      content: 'checked out';
      background-color: $orange;
      color: $white;
      width: calc(100% - 24px);
    }
}

.searchpreview-text{
    background-color: $transBlack;
    color: $white;
    padding: 2px 4px;
    margin-top: 4px;
    display: inline-block;
    max-width: 100%;
}
