@import "variables";

.searchpreview-square-box {
    border:5px solid $blue;
    background-color: $white;
    width: 120px;
    height: 120px;
    background-size: cover;
    margin: 5px;
    flex-grow: 1;
}

.searchpreview-text{
    background-color: $transBlack;
    color: $white;
    padding: 2px 4px;
    margin-top: 4px;
    display: inline-block;
    max-width: 100%;
}
