@import "variables";

.square-box {
    border:5px solid $blue;
    background-color: $white;
    width: 50px;
    height: 50px;
}

.text{
    background-color: $transBlack;
    color: $white;
    padding: 2px 4px;
    display: inline-block;
    max-width: 100%;
}
