@import "_variables.scss";

@keyframes backgroundScroll {
  from{
    background-position: 0px center;
  }
  to{
    background-position: 59.45vh center;
  }
}

.signin-bg{
  background-size: auto 100vh;
  background-repeat: repeat-x;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: backgroundScroll 30s linear infinite;
}

.signin-logo{
  width: 300px;
}

.signin-desc{
  text-align: center;
  padding: 50px;
  max-width: 350px;
}
