@import "variables";

.store-thumbnail{
  margin: 10px 10px;
  flex-grow: 1;
  background-color: $blue;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.store-thumbnail-name, .store-thumbnail-location {
  margin: 4px 8px;
  background-color: $transBlack;
  color: $white;
  display: inline-block;
  padding: 4px 8px;
}

.store-thumbnail-name {
  font-size: 18px;
  margin-top: 8px;
}

.store-thumbnail-location {
  font-size: 12px;
}

.stores-footer {
  margin-top: 40px;
  text-align: center;
  color: $transBlack;
}
